/* Mainbar */

.mainbar {
    background: rgb(169, 28, 28);
    padding: 15px 80px;
    box-shadow: 0 5px 15px rgba(231, 195, 195, 0.06);
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .navbarr {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .navbarr li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 12px;
  }
  
  .navbarr li a{
    text-decoration: none;
    font-weight: 600;
    color: #eae3e3;
    font-size: 18px;
    transition: 0.3s ease;
  }
  
  .navbarr li a:hover {
    color: rgb(226, 223, 28);
  }
  
  .navbarr li a.active {
    color: rgb(194, 231, 33);
  }
  
  .navbarr li a.active::after,
  .navbarr li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background:  rgb(223, 244, 60);
    position: absolute;
    bottom: -4px;
    left: 20px;
  }


  /* Banner Slider */

.swiper{
    width: 1000px;
    position: relative;
  }
  .swiper-slide img{
    width: 1000px;
  
    object-fit: contain;
  }
  .swiper .swiper-button-prev,.swiper .swiper-button-next{
    color: rgb(1, 220, 253);
  }
  .swiper .swiper-pagination-bullet-active{
    background: black;
    
  }
  
  .swiper-slide-text{
    position: absolute;
    top:60% ;
    text-align: center;
    align-items: center;
    margin-left: 250px;
  
  }